
.NavStyle {
    background-color: white;
    height: 80px;
    position: fixed;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    top: 0;
}

.ListStyle {
    height: 40px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

.ListItemStyle {
    padding: 0 20px 0 20px;
    margin-right: 16px;
    text-decoration: none;
    height: 40px;
    display: flex; 
    align-items: center;
    border-radius: 6px;
}

.ListItemStyle:active {
    background-color: #425154;
    color: #F4E7E7;
}

.ListItemStyle:hover, .ListItemStyle:focus {
    /* outline: 1px solid  #425154; */
    outline-offset: -3px;
    background-color: #efe7f8;
    color: #425154;
}
.ListItemStyle:active {
    background-color: #425154;
    color: #efe7f8;
}

a {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    color: #425154;
}