.SectionStyles {
    height: 100vh; 
    padding: 100px 60px 20px 60px;
    background-color: #F4E7E7;
}

h1, h2, h3{
  color: #62120c;
  margin-top: 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 90px;
}

h2{
  font-size: 65px;
}

h3{
  font-size: 30px;
}

body {
  color: #62120c;
}

.GroupedInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 60px;
  max-width: 400px;
}

.SectionTitle {
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 14px;
  color: #97534e;
}

.SectionGrid {
  margin-top: 24px;
  display: grid; 
  grid-template-columns: auto auto auto;
  gap: 40px; 
  height: 80vh;
}

.AltSectionGrid {
  margin-top: 24px;
  display: grid; 
  grid-template-columns: auto auto;
  gap: 50px; 
  height: 80vh;
}

.SectionColumnGridAlt {
  grid-column-start: 1;
  grid-column-end: 2;
  border: 2px solid #97534e;
  padding: 40px;
}

.SectionColumnGridOne {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 2px solid #97534e;
  padding: 40px;
}

.SectionColumnGridTwo {
  border: 2px solid #97534e;
  padding: 40px;
}

.SectionColumnGridThree {
  border: 2px solid #97534e;
  padding: 20px;
}

.SectionColumnGridFour {
  grid-column-start: 2;
  grid-column-end: 4;
  border: 2px solid #97534e;
  padding: 40px;
}
