.ContactContainer {
    display: flex;
    flex-direction: row;
    height: 80vh;
    align-items: center;
    padding: 0 40px 0 40px;
}

.ContactInfo {
    width: 50%;
    margin-right: 40px;
    margin-left: 60px;
}

.ContactImageContainer {
    width: 40%;
    margin-left: 40px;
    margin-top: 150px;
}



a.email, a.linkedin {
    color: #425154;
    text-transform: none;
    font-weight: 500;
    font-size: 20px;
  }

.phone {
    color: #425154;
    font-weight: 500;
    font-size: 20px;
}


